<h1>Add a new restaurant</h1>

<%= form_with model: @restaurant, url: restaurants_path do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :category %>
    <%= form.select :category, ['chinese', 'italian', 'japanese', 'french', 'belgian'] %>
  </div>

  <%= form.submit 'Create Restaurant' %>
  <p>
  <%= link_to 'Return to Restaurants list', restaurants_path(@restaurant) %>
  </p>

<% end %>
